p.top {
    margin-bottom: 30px;
}

p input {
    width: 100%;
    outline: none;
    background: transparent;
    border: 1px solid #333333;
    padding: 5px 15px;
    border-radius: 5px;
    color: #000;
    font-size: 25px;
}

p input:focus {
    background: rgba(255, 255, 255, 0.2);
}

p label {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 8px;
    width: 100%;
    display: block;
    color: #000;
}
