h2 {
    text-align: center;
    background: -webkit-linear-gradient(#ff4b1f, #ff9068);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

@media (max-width: 1200px) {
    h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }
}
