@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00d2ff, #928dab);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card {
    width: 30%;
    height: 80%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.2)
    );
    border-radius: 5px;
    padding: 40px 35px;
}

/* Responsive code */
@media (max-width: 1200px) {
    .card {
        width: 30%;
        padding: 40px 27px;
    }
}

@media (max-width: 1025px) {
    .card {
        width: 45%;
        padding: 30px 22px;
    }
}

@media (max-width: 768px) {
    .card {
        width: 50%;
        padding: 30px 22px;
    }
}

@media (max-width: 624px) {
    .card {
        width: 75%;
        padding: 30px 22px;
    }
}

@media (max-width: 481px) {
    .card {
        width: 90%;
        padding: 30px 22px;
    }
}

@media (max-width: 320px) {
    .card {
        width: 90%;
        padding: 20px 15px;
    }
}
