.btnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculate {
    outline: none;
    border: 1px solid #333;
    background: transparent;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: max-content;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.calculate:hover {
    background: rgba(255, 255, 255, 0.4);
}
 h4 {
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
    line-height: 28px;
    color: blue;
}